*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.productos-container{
  width: 100vw;
  margin-top: 30px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card{
  width: 300px;
}
